.t108-one-page #counters-numbers .container .counters-box .text-primary {
  color: #a5e200; }

.navbar-default .navbar-nav .btn-search {
  color: #a5e200; }

.header-contact ul .fa-twitter, .header-contact ul .fa-facebook, .header-contact ul .fa-linkedin, .header-contact ul .fa-google-plus {
  color: #a5e200; }

.carousel .carousel-control .icon-prev, .carousel .carousel-control .icon-next {
  background-color: #a5e200; }

hr.divider-light-dark {
  border-color: #a5e200; }

.t108-one-page #counters-services .icon-services {
  color: #a5e200;
  border-color: #a5e200; }

.t108-one-page #about .about-box .icon-about {
  background-color: #a5e200; }

body a {
  color: #a5e200; }

.btn-primary {
  background-color: #a5e200;
  border-color: #a5e200; }

#main-slider .carousel-caption h1 {
  font-size: 66px; }

#main-slider .carousel-caption .btn-primary {
  font-size: 26px;
  transform: translate(24px); }

.t108-one-page #about .about-box .icon-about {
  width: 96px;
  height: 96px; }

.header-contact {
  background-color: #f0f4dc; }

.t108-one-page #counters-services {
  background-color: #f0f4dc; }

#slider-testimonials {
  background-color: #f0f4dc; }

.t108-one-page #portfolio .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name h6 {
  color: #88ba00; }

.t108-one-page #services .thumbnail .caption a h5:hover {
  color: #88ba00; }

.header-contact ul .fa-twitter:hover, .header-contact ul .fa-facebook:hover, .header-contact ul .fa-linkedin:hover, .header-contact ul .fa-google-plus:hover {
  color: #88ba00; }

body a:hover {
  color: #88ba00; }

.t108-footer .footer-above .footer-col .tweets a:hover {
  color: #88ba00; }

.btn-primary:hover {
  background-color: #88ba00;
  border-color: #88ba00; }

.t108-one-page #team .container ul.social-buttons li a:hover, .t108-one-page #team .container ul.social-buttons li a:focus, .t108-one-page #team .container ul.social-buttons li a:active {
  background-color: #88ba00; }

.t108-footer .footer-above a:hover {
  color: #88ba00; }

.t108-footer .footer-above .btn-default:hover {
  border-color: #88ba00; }
